body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}
.color-picker {
  background: rgba(255, 255, 255, 0);
  border: none;
  margin-bottom: 8px;
  border-radius: 100%;
  width: 45px;
  height: 45px;
}
.tool-tip-show {
  display: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.657);
}

.tool-tip-show:hover {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  display: inline;
}
.tool-tip-text {
}

.custom-color {
  background-color: cornflowerblue;
  width: 100%;
}

.delete-task:hover {
  cursor: pointer;
  transition: 0.25s;
}
.delete-list-btn {
  z-index: 2;
  transition: 0.25s;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -20px;
  right: -20px;
  border-radius: 50%;
  min-width: 50px;
  min-height: 50px;
  background: rgba(255, 255, 255, 0.685);
}
.delete-list-btn:hover {
  transition: 0.4s;
  cursor: pointer;
  background: rgb(255, 255, 255);
  font-size: x-large;
  top: -23px;
  right: -23px;
  min-width: 56px;
  min-height: 56px;
}
